fastapi
uvicorn
openai
pydantic
pydantic-settings
supabase
langchain-openai
langchain
pinecone-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
authlib
python-jose[cryptography] httpx
